[Desktop Entry]
Name=Bender
Comment=Linux Workstation Dashboard — Bite my shiny metal app!
Exec=bender
Icon=com.taliskerman.bender
Terminal=false
Type=Application
Categories=Utility;System;GTK;
Keywords=system;monitor;security;network;proxy;dashboard;
StartupNotify=true
StartupWMClass=com.taliskerman.bender
